html {
background: url('/static/img/bg/promo.jpg') no-repeat center center fixed;
}
body {
background: none;
}
.offset-top {
padding-top:140px;
padding-bottom:40px;
}
.reg-page {
color: #555;
padding: 30px;
background: #fefefe;
border: solid 1px #eee;
box-shadow: 0 0 3px #eee;
height: 100%;
}
.ok {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: #ffffff;
-webkit-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
-o-transform: rotateY(0deg);
transform: rotateY(0deg);
-webkit-transition: all 0.8s ease;
-o-transition: all 0.8s ease;
transition: all 0.8s ease;
border-radius: 3px;
color: #3c3c3c;
display: none;
overflow: hidden;
padding: 20px;
text-align: center;
}
