.navbar-fixed-top
{
	z-index : 1070;
}

.modal,
.modal-backdrop
{
	top : 60px;
}

/**************************
***** Portfolio Modal *****
**************************/
.portfolio-modal .modal-content
{
	padding            : 100px 0;
	min-height         : 100%;
	border             : 0;
	border-radius      : 0;
	color              : #000;
	text-align         : center;
	background-clip    : border-box;
	-webkit-box-shadow : none;
	box-shadow         : none;
}

.portfolio-modal .modal-content h2
{
	margin-bottom : 45px;
	font-size     : 3em;
}

.portfolio-modal .modal-content p
{
	margin-bottom : 30px
}

.portfolio-modal .modal-content p.item-intro
{
	margin      : 20px 0 30px;
	font-family : "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size   : 16px;
	font-style  : italic;
}

.portfolio-modal .modal-content ul.list-inline
{
	margin-top             : 0;
	margin-bottom          : 30px;
	font-family            : Futura, "Trebuchet MS", Arial, sans-serif;
	letter-spacing         : 2px;
	color                  : #000;
	line-height            : 10px;
	text-transform         : none;
	-webkit-font-smoothing : antialiased !important;
}

.portfolio-modal .modal-content img
{
	margin-bottom : 30px
}

.portfolio-modal .close-modal
{
	position         : absolute;
	top              : 25px;
	right            : 25px;
	width            : 75px;
	height           : 75px;
	background-color : transparent;
	cursor           : pointer;
}

.portfolio-modal .close-modal:hover
{
	opacity : .3
}

.portfolio-modal .close-modal .lr
{
	z-index           : 1051;
	width             : 1px;
	height            : 75px;
	margin-left       : 35px;
	background-color  : #222;
	-webkit-transform : rotate(45deg);
	-ms-transform     : rotate(45deg);
	transform         : rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl
{
	z-index           : 1052;
	width             : 1px;
	height            : 75px;
	background-color  : #222;
	-webkit-transform : rotate(90deg);
	-ms-transform     : rotate(90deg);
	transform         : rotate(90deg);
}
