/************************************************
*** header ***
************************************************/
@media (max-width : 992px)
{
	.main-header .nav > li > a
	{
		padding   : 22px 7px 0 7px;
		font-size : 12px;
	}
}

/************************************************
*** navigation ***
************************************************/
.navbar
{
	min-height : 60px;
}

.navbar-custom
{
	background-color : #FFF;
	border-color     : #EEE;
}

.navbar-custom .navbar-brand
{
	color : #777;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus
{
	color            : #5E5E5E;
	background-color : transparent;
}

.navbar-custom .navbar-text
{
	color : #777;
}

.navbar-custom .navbar-nav > li > a
{
	color          : #777;
	text-transform : uppercase;
	font-weight    : 600;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus
{
	color            : #333;
	background-color : transparent;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .active > a:hover
{
	color : #36D7B7;
}

.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus
{
	color            : #CCC;
	background-color : transparent;
}

.navbar-custom .navbar-toggle
{
	border-color : #DDD;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus
{
	background-color : #DDD;
}

.navbar-custom .navbar-toggle .icon-bar
{
	background-color : #888;
}

.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form
{
	border-color : #E7E7E7;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus
{
	background-color : #E7E7E7;
	color            : #555;
}

@media (max-width : 767px)
{
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a
	{
		color : #777;
	}

	.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus
	{
		color            : #333;
		background-color : transparent;
	}

	.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus
	{
		color            : #555;
		background-color : #E7E7E7;
	}

	.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus
	{
		color            : #CCC;
		background-color : transparent;
	}
}

.navbar-custom .navbar-link
{
	color : #777;
}

.navbar-custom .navbar-link:hover
{
	color : #333;
}

.navbar-custom .btn-link
{
	color : #777;
}

.navbar-custom .btn-link:hover,
.navbar-custom .btn-link:focus
{
	color : #333;
}

.navbar-brand
{
	float       : left;
	padding     : 20px 15px;
	font-size   : 18px;
	line-height : 20px;
	height      : 60px;
}

@media (min-width : 768px)
{
	.navbar-nav > li > a
	{
		padding-top    : 20px;
		padding-bottom : 20px;
	}
}

/************************************************
*** landing reset style ***
************************************************/
body
{
	font-family : "Lato", Helvetica, Arial, sans-serif;
}

h1
{
	font-weight : 300;
}

.lead
{
	font-weight : 300;
}

/************************************************
*** buttons ***
************************************************/
.btn,
.btn:active,
.btn.active
{
	outline : none;
}

.btn:hover,
.btn:focus
{
	outline         : none;
	color           : #333;
	text-decoration : none;
}

.btn-default
{
	color            : #333;
	background-color : #FFF;
	border-color     : #CCC;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default
{
	color            : #333;
	background-color : #E6E6E6;
	border-color     : #ADADAD;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default
{
	background-image : none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active
{
	background-color : #FFF;
	border-color     : #CCC;
	outline          : none;
}

.btn-default .badge
{
	color            : #FFF;
	background-color : #333;
}

.btn-primary
{
	color            : #FFF;
	background-color : #52B3D9;
	border-color     : #52B3D9;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary
{
	color            : #FFF;
	background-color : #2D9FCB;
	border-color     : #2B98C3;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary
{
	background-image : none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active
{
	background-color : #52B3D9;
	border-color     : #52B3D9;
	outline          : none;
}

.btn-primary .badge
{
	color            : #52B3D9;
	background-color : #FFF;
}

.btn-success
{
	color            : #FFF;
	background-color : #36D7B7;
	border-color     : #36D7B7;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success
{
	color            : #FFF;
	background-color : #24B699;
	border-color     : #22AD92;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success
{
	background-image : none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active
{
	background-color : #36D7B7;
	border-color     : #36D7B7;
	outline          : none;
}

.btn-success .badge
{
	color            : #36D7B7;
	background-color : #FFF;
}

.btn-info
{
	color            : #FFF;
	background-color : #5C97BF;
	border-color     : #5C97BF;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info
{
	color            : #FFF;
	background-color : #417EA7;
	border-color     : #3F789F;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info
{
	background-image : none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active
{
	background-color : #5C97BF;
	border-color     : #5C97BF;
	outline          : none;
}

.btn-info .badge
{
	color            : #5C97BF;
	background-color : #FFF;
}

.btn-warning
{
	color            : #FFF;
	background-color : #FD8A21;
	border-color     : #FD8A21;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning
{
	color            : #FFF;
	background-color : #E97002;
	border-color     : #DF6B02;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning
{
	background-image : none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active
{
	background-color : #FD8A21;
	border-color     : #FD8A21;
	outline          : none;
}

.btn-warning .badge
{
	color            : #FD8A21;
	background-color : #FFF;
}

.btn-danger
{
	color            : #FFF;
	background-color : #E74C3C;
	border-color     : #E74C3C;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger
{
	color            : #FFF;
	background-color : #D62C1A;
	border-color     : #CD2A19;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger
{
	background-image : none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active
{
	background-color : #E74C3C;
	border-color     : #E74C3C;
	outline          : none;
}

.btn-danger .badge
{
	color            : #E74C3C;
	background-color : #FFF;
}

.btn-empty
{
	color            : #FFF;
	background-color : rgba(0, 0, 0, 0);
	border-color     : #FFF;
}

.btn-empty:hover,
.btn-empty:focus,
.btn-empty:active,
.btn-empty.active,
.open > .dropdown-toggle.btn-empty
{
	color            : #FFF;
	background-color : rgba(0, 0, 0, 0);
	border-color     : #E0E0E0;
}

.btn-empty:active,
.btn-empty.active,
.open > .dropdown-toggle.btn-empty
{
	background-image : none;
}

.btn-empty.disabled,
.btn-empty[disabled],
fieldset[disabled] .btn-empty,
.btn-empty.disabled:hover,
.btn-empty[disabled]:hover,
fieldset[disabled] .btn-empty:hover,
.btn-empty.disabled:focus,
.btn-empty[disabled]:focus,
fieldset[disabled] .btn-empty:focus,
.btn-empty.disabled:active,
.btn-empty[disabled]:active,
fieldset[disabled] .btn-empty:active,
.btn-empty.disabled.active,
.btn-empty[disabled].active,
fieldset[disabled] .btn-empty.active
{
	background-color : rgba(0, 0, 0, 0);
	border-color     : #FFF;
	outline          : none;
}

.btn-empty .badge
{
	color            : rgba(0, 0, 0, 0);
	background-color : #FFF;
}

.btn-empty:hover,
.btn-empty:active
{
	background-color   : #FFF;
	-webkit-transition : all 0.5s ease;
	-o-transition      : all 0.5s ease;
	transition         : all 0.5s ease;
	color              : #52B3D9;
}

.btn-empty-inverse
{
	color            : #999;
	background-color : rgba(0, 0, 0, 0);
	border-color     : #999;
}

.btn-empty-inverse:hover,
.btn-empty-inverse:focus,
.btn-empty-inverse:active,
.btn-empty-inverse.active,
.open > .dropdown-toggle.btn-empty-inverse
{
	color            : #999;
	background-color : rgba(0, 0, 0, 0);
	border-color     : #7A7A7A;
}

.btn-empty-inverse:active,
.btn-empty-inverse.active,
.open > .dropdown-toggle.btn-empty-inverse
{
	background-image : none;
}

.btn-empty-inverse.disabled,
.btn-empty-inverse[disabled],
fieldset[disabled] .btn-empty-inverse,
.btn-empty-inverse.disabled:hover,
.btn-empty-inverse[disabled]:hover,
fieldset[disabled] .btn-empty-inverse:hover,
.btn-empty-inverse.disabled:focus,
.btn-empty-inverse[disabled]:focus,
fieldset[disabled] .btn-empty-inverse:focus,
.btn-empty-inverse.disabled:active,
.btn-empty-inverse[disabled]:active,
fieldset[disabled] .btn-empty-inverse:active,
.btn-empty-inverse.disabled.active,
.btn-empty-inverse[disabled].active,
fieldset[disabled] .btn-empty-inverse.active
{
	background-color : rgba(0, 0, 0, 0);
	border-color     : #999;
	outline          : none;
}

.btn-empty-inverse .badge
{
	color            : rgba(0, 0, 0, 0);
	background-color : #999;
}

.btn-empty-inverse:hover,
.btn-empty-inverse:active
{
	background-color   : #EEE;
	-webkit-transition : all 0.5s ease;
	-o-transition      : all 0.5s ease;
	transition         : all 0.5s ease;
}

.btn-link
{
	color         : #52B3D9;
	font-weight   : normal;
	cursor        : pointer;
	border-radius : 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link
{
	background-color   : transparent;
	-webkit-box-shadow : none;
	box-shadow         : none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active
{
	border-color : transparent;
}

.btn-link:hover,
.btn-link:focus
{
	color            : #288EB6;
	text-decoration  : underline;
	background-color : transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus
{
	color           : #999;
	text-decoration : none;
}

/************************************************
*** promo ***
************************************************/
.promo
{
	background-repeat   : no-repeat;
	background-position : center center;
	margin-top          : 61px;
	position            : relative;
}

.promo .color-correction
{
	position          : absolute;
	z-index           : 0;
	*background-color : rgba(45, 157, 231, 0.4);
	background-color  : rgba(0, 0, 0, 0.4);
	width             : 100%;
	height            : 100%;
	top               : 0;
}

.promo > .container
{
	position : relative;
	z-index  : 1;
}

.promo .promo-text
{
	padding : 60px 0;
	color   : #FFF;
}

.promo .promo-text hr
{
	border-top-color : #FFF;
}

.promo .register
{
	padding            : 20px;
	margin             : 60px 0;
	*background-color  : rgba(0, 0, 0, 0.1);
	background-color   : rgba(0, 0, 0, 0.4);
	color              : #FFF;
	text-align         : center;
	position           : relative;
	-webkit-transform  : rotateY(0deg);
	-ms-transform      : rotateY(0deg);
	-o-transform       : rotateY(0deg);
	transform          : rotateY(0deg);
	-webkit-transition : all 0.8s ease;
	-o-transition      : all 0.8s ease;
	transition         : all 0.8s ease;
}

.promo .register .form-control
{
	background   : rgba(0, 0, 0, 0);
	border-color : #FFF;
	color        : #FFF;
}

.promo .register .form-control::-moz-placeholder
{
	color   : #FFF;
	opacity : 1;
}

.promo .register .form-control:-ms-input-placeholder
{
	color : #FFF;
}

.promo .register .form-control::-webkit-input-placeholder
{
	color : #FFF;
}

.promo .register .dropdown-menu
{
	top : 125%;
}

.promo .register .ok
{
	position           : absolute;
	width              : 100%;
	height             : 100%;
	top                : 0;
	left               : 0;
	background-color   : #FFF;
	-webkit-transform  : rotateY(0deg);
	-ms-transform      : rotateY(0deg);
	-o-transform       : rotateY(0deg);
	transform          : rotateY(0deg);
	-webkit-transition : all 0.8s ease;
	-o-transition      : all 0.8s ease;
	transition         : all 0.8s ease;
	border-radius      : 3px;
	color              : #3C3C3C;
	display            : none;
	overflow           : hidden;
	padding            : 20px;
	text-align         : center;
}

.promo .register .ok .icon
{
	font-size : 30px;
}

.promo .register.success
{
	-webkit-transform : rotateY(180deg);
	-ms-transform     : rotateY(180deg);
	-o-transform      : rotateY(180deg);
	transform         : rotateY(180deg);
}

.promo .register.success .ok
{
	display           : block;
	-webkit-transform : rotateY(180deg);
	-ms-transform     : rotateY(180deg);
	-o-transform      : rotateY(180deg);
	transform         : rotateY(180deg);
}

.promo .register .form-error
{
	background-color : #FFF;
}

.promo .register .has-error .form-control,
.promo .register .has-error .btn-empty
{
	border-color : #E74C3C !important;
}

/************************************************
*** counter ***
************************************************/
.counter
{
	padding          : 60px 0;
	background-color : #FFF;
	color            : #555;
	border-bottom    : 1px solid #EEE;
}

.counter .count-digits
{
	text-align : center;
	padding    : 15px 0 0;
	position   : relative;
}

.counter .count-digits p
{
	margin        : 0 auto 15px;
	font-size     : 36px;
	width         : 150px;
	height        : 150px;
	line-height   : 150px;
	border-radius : 50%;
	border        : 1px solid #999;
	font-weight   : 300;
}

.counter .count-digits span
{
	display       : inline-block;
	margin-bottom : 15px;
}

.counter .btn-empty-inverse
{
	min-width : 60px;
}

/************************************************
*** schedule ***
************************************************/
.schedule
{
	padding : 60px 0;
}

.schedule .section-heading
{
	text-align    : center;
	margin-bottom : 60px;
}

.schedule .section-heading h1
{
	margin-top : 0;
}

.schedule .nav-tabs
{
	font-size : 18px;
}

.schedule .nav-tabs.nav-justified > li a
{
	border : 1px solid transparent;
	color  : #52B3D9;
}

.schedule .nav-tabs.nav-justified > li a:hover
{
	color : #3C3C3C;
}

.schedule .nav-tabs.nav-justified > li.active > a,
.schedule .nav-tabs.nav-justified > li.active > a:hover,
.schedule .nav-tabs.nav-justified > li.active > a:focus
{
	color               : #555;
	background-color    : #EEE;
	border              : 1px solid #EEE;
	border-bottom-color : transparent;
	cursor              : default;
}

.schedule .tab-content
{
	padding          : 20px;
	border           : 1px solid #EEE;
	border-width     : 0 1px 1px;
	background-color : #EEE;
}

.schedule .tab-content h4
{
	margin : 10px 0;
}

.schedule .panel-group
{
	margin-bottom : 0;
}

.schedule .panel-title > a
{
	display         : block;
	text-decoration : none;
	text-align      : center;
	color           : #FFF;
}

.schedule .panel-default
{
	border-color       : #52B3D9;
	-webkit-box-shadow : none;
	box-shadow         : none;
}

.schedule .panel-default > .panel-heading
{
	background-color : #52B3D9;
}

/************************************************
*** theses ***
************************************************/
.theses
{
	padding          : 60px 0;
	background-color : #36D7B7;
	color            : #FFF;
}

.theses .icon-wrap
{
	width         : 100px;
	height        : 100px;
	line-height   : 100px;
	border        : 1px solid #FFF;
	border-radius : 3px;
	margin        : 20px auto;
}

.theses p
{
	margin-bottom : 20px;
}

.theses hr
{
	border-top-color : #FFF;
}

/************************************************
*** multimedia ***
************************************************/
.multimedia
{
	padding          : 60px 0;
	color            : #FFF;
	background-color : #FD8A21;
}

.multimedia hr
{
	border-top-color : #FFF;
}

.multimedia .video
{
	padding          : 20px;
	border-radius    : 3px;
	background-color : #F5F5F5;
}

/************************************************
*** photo ***
************************************************/
.photo
{
	padding : 60px 0;
}

.photo hr
{
	border-top-color : #3C3C3C;
}

.photo .photo-wrapper
{
	margin-bottom : 20px;
}

/************************************************
*** speakers ***
************************************************/
.speakers
{
	padding : 60px 0;
}

.speakers .section-heading
{
	text-align : center;
}

.speakers .section-heading h1
{
	margin-top : 0;
}

.speakers .speaker:hover .speaker-contacts.left-top
{
	left : 0;
	top  : 0;
}

.speakers .speaker:hover .speaker-contacts.left-bottom
{
	left   : 0;
	bottom : 0;
}

.speakers .speaker:hover .speaker-contacts.right-bottom
{
	right  : 0;
	bottom : 0;
}

.speakers .speaker:hover .speaker-contacts.right-top
{
	right : 0;
	top   : 0;
}

.speakers .speaker:hover .speaker-img img
{
	border-color : #36D7B7;
}

.speakers .speaker-img
{
	width      : 70%;
	padding    : 30px;
	margin     : 0 auto;
	position   : relative;
	text-align : center;
}

.speakers .speaker-img img
{
	-webkit-transition : all 0.3s ease;
	-o-transition      : all 0.3s ease;
	transition         : all 0.3s ease;
	border-radius      : 50%;
	padding            : 10px;
	border             : 1px solid #EEE;
	display            : inline-block;
	max-width          : 100%;
	height             : auto;
	position           : relative;
	z-index            : 2;
}

.speakers .speaker-contacts
{
	text-decoration    : none;
	color              : #FFF;
	background-color   : #36D7B7;
	width              : 50px;
	height             : 50px;
	border-radius      : 50%;
	position           : absolute;
	display            : block;
	text-align         : center;
	z-index            : 1;
	-webkit-transition : all 0.3s ease;
	-o-transition      : all 0.3s ease;
	transition         : all 0.3s ease;
}

.speakers .speaker-contacts i
{
	line-height : 50px;
}

.speakers .speaker-contacts.left-top
{
	left : 50%;
	top  : 50%;
}

.speakers .speaker-contacts.left-bottom
{
	left   : 50%;
	bottom : 50%;
}

.speakers .speaker-contacts.right-bottom
{
	right  : 50%;
	bottom : 50%;
}

.speakers .speaker-contacts.right-top
{
	right : 50%;
	top   : 50%;
}

.speakers .speaker-desc
{
	text-align : center;
	padding    : 0 20% 20px;
}

.speakers .speaker-desc p
{
	font-size  : 18px;
	margin-top : 10px;
}

/************************************************
*** testimonials ***
************************************************/
.testimonials
{
	padding             : 60px 0;
	position            : relative;
	background-repeat   : no-repeat;
	background-position : center center;
	background-size     : 100% auto;
}

.testimonials .color-correction
{
	position         : absolute;
	top              : 0;
	width            : 100%;
	height           : 100%;
	background-color : rgba(231, 76, 60, 0.9);
}

.testimonials .carousel-caption
{
	position       : relative;
	left           : auto;
	right          : auto;
	padding-bottom : 0;
}

.testimonials .carousel-indicators
{
	bottom : -30px;
}

.testimonials .carousel-indicators li
{
	height : 10px;
	width  : 20px;
}

.testimonials .carousel-indicators li.active
{
	height : 10px;
	width  : 20px;
	margin : 1px;
}

.testimonials blockquote
{
	border-left-width : 0;
	margin            : 0;
	text-shadow       : none;
	font-size         : 22px;
	font-weight       : 300;
}

.testimonials blockquote footer
{
	color : #FFF;
}

@media (max-width : 768px)
{
	.testimonials
	{
		background-image : none;
	}
}

/************************************************
*** price ***
************************************************/
.price
{
	padding : 60px 0;
}

.price .section-heading
{
	text-align    : center;
	margin-bottom : 60px;
}

.price .section-heading h1
{
	margin-top : 0;
}

.price .row > div
{
	padding-bottom : 20px;
}

.price .price-header
{
	padding    : 20px 0 10px;
	text-align : center;
	color      : #FFF;
}

.price .price-header h4
{
	margin      : 0;
	font-size   : 24px;
	background  : rgba(0, 0, 0, 0.1);
	line-height : 2;
}

.price .price-header p
{
	font-size     : 30px;
	display       : inline-block;
	border        : 1px solid #FFF;
	margin        : 10px 0 0;
	padding       : 7px 12px;
	border-radius : 3px;
}

.price .list-group
{
	-webkit-box-shadow : 5px 5px 0 0 rgba(0, 0, 0, 0.2);
	box-shadow         : 5px 5px 0 0 rgba(0, 0, 0, 0.2);
	margin-bottom      : 0;
}

.price .list-group li
{
	border-width : 0;
}

.price .list-group li:before,
.price .list-group li:after
{
	content : " ";
	display : table;
}

.price .list-group li:after
{
	clear : both;
}

.price .list-group li:nth-child(even)
{
	background-color : #EEE;
}

.price .list-group li p
{
	margin-bottom : 0;
	font-size     : 16px;
}

/************************************************
*** faq ***
************************************************/
.faq
{
	padding          : 60px 0;
	background-color : #EEE;
}

.faq h1
{
	margin-top : 40px;
}

.faq hr
{
	border-top-color : #999;
}

.faq .panel-group
{
	margin-bottom : 0;
}

.faq .panel
{
	padding            : 0;
	background         : #36D7B7;
	-webkit-box-shadow : none;
	box-shadow         : none;
}

.faq .panel-collapse p
{
	padding : 7px 12px;
}

.faq a[data-toggle]
{
	display         : block;
	color           : #FFF;
	border-radius   : 3px;
	font-size       : 18px;
	padding         : 7px 12px;
	border          : 1px solid #36D7B7;
	text-decoration : none;
}

/************************************************
*** partners ***
************************************************/
.partners
{
	padding : 60px 0;
}

.partners .section-heading
{
	text-align    : center;
	margin-bottom : 60px;
}

.partners .section-heading h1
{
	margin-top : 0;
}

.partners .list-inline li
{
	width : 16.66666%;
}

@media (max-width : 768px)
{
	.partners .list-inline li
	{
		width : 33.333333%;
	}
}

.partners .list-inline li img
{
	display   : inline-block;
	max-width : 100%;
	height    : auto;
}

/************************************************
*** subscribe ***
************************************************/
.subscribe
{
	position : absolute;
	width    : 100%;
	z-index  : 100;
	top      : 20px;
}

.subscribe .input-group
{
	padding-top    : 15px;
	padding-bottom : 7px;
}

.subscribe .form-control
{
	border-color     : #5C97BF;
	background-color : #5C97BF;
	color            : #FFF;
}

.subscribe .form-control:focus
{
	-webkit-box-shadow : none;
	box-shadow         : none;
}

.subscribe .input-group-addon
{
	background-color : #5C97BF;
	border-color     : #5C97BF;
	color            : #FFF;
}

.subscribe .form-wrapper
{
	position           : relative;
	-webkit-transform  : rotateX(0deg);
	-ms-transform      : rotateX(0deg);
	-o-transform       : rotateX(0deg);
	transform          : rotateX(0deg);
	-webkit-transition : all 0.8s ease;
	-o-transition      : all 0.8s ease;
	transition         : all 0.8s ease;
}

.subscribe .form-wrapper .ok
{
	position           : absolute;
	width              : 100%;
	height             : 100%;
	top                : 0;
	left               : 0;
	background-color   : #5C97BF;
	-webkit-transform  : rotateX(0deg);
	-ms-transform      : rotateX(0deg);
	-o-transform       : rotateX(0deg);
	transform          : rotateX(0deg);
	-webkit-transition : all 0.8s ease;
	-o-transition      : all 0.8s ease;
	transition         : all 0.8s ease;
	color              : #FFF;
	display            : none;
	overflow           : hidden;
	padding            : 20px;
	text-align         : center;
}

.subscribe .form-wrapper .ok h3
{
	margin : 10px 0;
}

.subscribe .form-wrapper.success
{
	-webkit-transform : rotateX(180deg);
	-ms-transform     : rotateX(180deg);
	-o-transform      : rotateX(180deg);
	transform         : rotateX(180deg);
}

.subscribe .form-wrapper.success .ok
{
	display           : block;
	-webkit-transform : rotateX(180deg);
	-ms-transform     : rotateX(180deg);
	-o-transform      : rotateX(180deg);
	transform         : rotateX(180deg);
	z-index           : 9;
}

/************************************************
*** google map ***
************************************************/
.map
{
	position : relative;
}

#map
{
	height : 740px;
}

.street-view
{
	height : 250px;
}

/************************************************
*** location ***
************************************************/
.location
{
	position : absolute;
	z-index  : 100px;
	bottom   : 20px;
	width    : 100%;
}

.location .popover
{
	position           : relative;
	display            : block;
	width              : 100%;
	max-width          : 100%;
	-webkit-box-shadow : none;
	box-shadow         : none;
}

.location .popover i
{
	min-width : 40px;
}

.location .popover li
{
	font-size   : 20px;
	line-height : 2;
}

.location .popover .popover-title
{
	font-size  : 24px;
	text-align : center;
	padding    : 20px 14px;
}

@media (max-width : 768px)
{
	.location .street-view
	{
		height        : 200px;
		margin-bottom : 10px;
	}

	.location .popover .popover-title
	{
		padding   : 5px 7px;
		font-size : 14px;
	}

	.location .popover li
	{
		font-size   : 14px;
		line-height : 1.6;
	}
}

/************************************************
*** main footer ***
************************************************/
.main-footer
{
	padding          : 30px 0;
	color            : #FFF;
	background-color : #5C97BF;
}

.main-footer .social ul
{
	margin : 0 0 20px;
}

.main-footer .social li
{
	text-align : center;
}

.main-footer .social a
{
	cursor             : pointer;
	display            : inline-block;
	width              : 40px;
	height             : 40px;
	line-height        : 40px;
	text-decoration    : none;
	font-size          : 20px;
	color              : #FFF;
	border-radius      : 50%;
	border             : 1px solid #FFF;
	-webkit-transition : all 0.4s ease;
	-o-transition      : all 0.4s ease;
	transition         : all 0.4s ease;
}

.main-footer .social a:hover
{
	color        : #36D7B7;
	border-color : #36D7B7;
}

/************************************************
*** preloader ***
************************************************/
.preloader
{
	position         : fixed;
	top              : 0;
	right            : 0;
	left             : 0;
	bottom           : 0;
	background-color : #FFF;
	z-index          : 9999;
}

.preloader .loader
{
	position    : absolute;
	top         : 50%;
	left        : 50%;
	margin-left : -30px;
	margin-top  : -29px;
}

/************************************************
*** helper classes ***
************************************************/
/***** margins *****/
.mt5
{
	margin-top : 5px;
}

.mt10
{
	margin-top : 10px;
}

.mt15
{
	margin-top : 15px;
}

.mt20
{
	margin-top : 20px;
}

.mt25
{
	margin-top : 25px;
}

.mt30
{
	margin-top : 30px;
}

.mt35
{
	margin-top : 35px;
}

.mt40
{
	margin-top : 40px;
}

.mt45
{
	margin-top : 45px;
}

.mt50
{
	margin-top : 50px;
}

.mb5
{
	margin-bottom : 5px;
}

.mb10
{
	margin-bottom : 10px;
}

.mb15
{
	margin-bottom : 15px;
}

.mb20
{
	margin-bottom : 20px;
}

.mb25
{
	margin-bottom : 25px;
}

.mb30
{
	margin-bottom : 30px;
}

.mb35
{
	margin-bottom : 35px;
}

.mb40
{
	margin-bottom : 40px;
}

.mb45
{
	margin-bottom : 45px;
}

.mb50
{
	margin-bottom : 50px;
}

.mmt5
{
	margin-top : -5px;
}

.mmt10
{
	margin-top : -10px;
}

.mmt15
{
	margin-top : -15px;
}

.mmt20
{
	margin-top : -20px;
}

.mmb5
{
	margin-bottom : -5px;
}

.mmb10
{
	margin-bottom : -10px;
}

.mmb15
{
	margin-bottom : -15px;
}

.mmb20
{
	margin-bottom : -20px;
}

/***** base text colors *****/
.primary-color
{
	color : #52B3D9;
}

.success-color
{
	color : #36D7B7;
}

.info-color
{
	color : #5C97BF;
}

.danger-color
{
	color : #E74C3C;
}

.warning-color
{
	color : #FD8A21;
}

/***** base bg colors *****/
.primary-bg
{
	background-color : #52B3D9;
}

.success-bg
{
	background-color : #36D7B7;
}

.info-bg
{
	background-color : #5C97BF;
}

.danger-bg
{
	background-color : #E74C3C;
}

.warning-bg
{
	background-color : #FD8A21;
}

.default-bg
{
	background-color : #EEE;
}

.body-bg
{
	background-color : #FFF;
}

.gray-bg
{
	background-color : #EEE;
}

/***** remove scroll *****/
.remove-scroll
{
	overflow : hidden;
}

.maplist
{
	padding-top : 10px;
	font-size   : 16px;
}

.maplist li
{
	margin-bottom : 5px;
}

.content
{
	padding-top    : 90px;
	padding-bottom : 40px;
}
