.bold
{
	font-weight : bold;
}

.b-manager
{
	position : relative;
}

.b-manager-header
{
	position : relative;
}

.grid-view .button-column
{
	width : 120px;
}

.preloader
{
	opacity : 0.6;
	top     : 60px !important;
}
